* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #00ade5;
  --main-color-shade-1: #009cce;
  --main-color-shade-2: #008ab7;

  --main-color-tint-1: #e6f7fc;
  --main-color-tint-2: #cceffa;

  --background-color-1: #000000d4;
  --background-color-2: #bbb;

  --grey-dark: #333;
  --grey-light: #f2f2f2;
  --white: #fff;
  --black: #000;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* This is the browser font-size settings. Now 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--grey-dark);
  width: 100%;
  margin: 0 auto;
}
