.container {
  padding: 0 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 6.6rem;
}

.grid--sm {
  display: grid;
  column-gap: 5.4rem;
  row-gap: 6rem;
}

.grid--no-column-gap {
  display: grid;
  row-gap: 6rem;
  column-gap: 0;
}

.grid--align-center {
  align-items: center;
}

.grid--justify-center {
  justify-content: center;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.margin-top--sm {
  margin-top: 3.2rem;
}

.margin-top--lg {
  margin-top: 7rem;
}

.margin-top--xl {
  margin-top: 10rem;
}

.center {
  text-align: center;
}

.title {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: var(--main-color-shade-1);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  text-align: center;

  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 18rem;
  background-color: var(--main-color-shade-1);
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* buttons */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
  text-align: center;

  cursor: pointer;
  font-family: inherit;
  border: none;

  transition: all 0.3s;
}

.btn--sm:link,
.btn--sm:visited {
  font-size: 1.6rem;
}

.btn--padding-sm:link,
.btn--padding-sm:visited {
  padding: 1.2rem 2.4rem;
}

.btn--padding-lg:link,
.btn--padding-lg:visited {
  padding: 1.6rem 3.2rem;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--main-color);
  color: var(--white);
  border: 2px solid var(--main-color);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--white);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.btn--disabled:link,
.btn--disabled:visited {
  pointer-events: none;
  cursor: default;
  border: 2px solid var(--grey-light);
  background-color: var(--grey-light);
}

/* carousel
    /* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--background-color-2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
