.logo {
  width: 15rem;
  height: auto;
}

/*** DROPDOWN LINKS ***/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-color-tint-2);
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--grey-dark);
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.dropdown-link:link,
.dropdown-link:visited {
  position: relative;
}

.dropdown-link:hover + .dropdown-content,
.dropdown-link:active + .dropdown-content {
  display: block;
}

.dropdown-content:hover,
.dropdown-content:active {
  display: block;
}
/*** DROPDOWN LINKS **/

.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;

  background-attachment: fixed;
}

.nav-header-container {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;

  background-color: var(--main-color-tint-2);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.97);
  position: absolute; /* by default, all elements are relative to the body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(0);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;

  /* 1) Hide it visually */
  opacity: 0;

  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.nav-open .navbar {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.logo {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: 700;
}

.logo span {
  font-size: 2.8rem;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  /* gap: 2rem; */
  flex-direction: column;
}

.menu a {
  padding: 0.5em;
}

.menu-link:link,
.menu-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color-shade-2);
  font-weight: 500;
  font-size: 2.8rem;
  transition: all 0.3s;
}

.menu-link:hover,
.menu-link:active {
  color: var(--white);
  background-color: var(--main-color);
}

/* MOBILE VIEW */
.btn-mobile-nav {
  display: block;
  background: transparent;
  border-color: transparent;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--main-color);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.hero {
  align-items: flex-end;
  justify-items: center;
  height: 60vh;
  text-align: center;
  padding: 0 0.5rem;
}

.hero-img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  object-fit: cover;
}

.hero-text-box {
  color: var(--main-color-shade-1);

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 90%;
}

.hero-text1 {
  font-size: 2rem;
}

.hero-text2 {
  font-size: 4rem;
  font-weight: 600;
}

.hero-text2 span {
  color: var(--white);
  font-weight: 500;
}

article {
  text-align: center;
  font-size: 1.6rem;
}

/* counter */

.back_color {
  padding: 55px 0 60px;
  z-index: 2;
  background-color: var(--background-color-1);
  opacity: 2;
}

.counter-col {
  color: var(--white);
  text-align: center;
  padding: 15px;
  border-radius: 6px;
}

p.count_p {
  margin-bottom: 0px;
  margin-top: 1rem;
}

.counter_sec {
  background-image: url("../images/counter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .coun-text {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
} */

/* counter */

/* testimonials */

.testimonials {
  background-image: url("../images/testimonials.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 350px;
  padding: 2rem;
  background-color: var(--main-color);
}

/* CAROUSEL */
.desktop {
  display: none;
}
.mobile {
  display: block;
}
/* END OF CAROUSEL */

.card {
  background: var(--white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
}

.testi_images {
  width: 60%;
}

.testi--text {
  padding: 1rem;
  text-align: justify;
  line-height: 1.5;
}

.pt-4 {
  padding-top: 5rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pb-2 {
  padding-bottom: 2rem;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */

.mySlides {
  display: none;
}

/* Caption text */

.text {
  color: var(--grey-light);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.projects {
  padding: 5.6rem 0;
}

/* testimonials */
/* projects */
.proj_image {
  width: 100%;
}

.proj--title {
  padding-top: 1rem;
  color: var(--main-color-shade-1);
}
/* projects */

.services {
  background-color: #01ade5;
}

.servicesHeader {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: var(--white);
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.services-link {
  text-decoration: none;
}

.services-link .social-icon {
    border: 2px solid var(--white);
    border-radius: 2rem;
    padding: 2rem 3rem;
    height: 8rem;
    width: 8rem;
    color: var(--white);
    transition: all 0.3s ease;
}

.services-link .social-icon:hover {
  transform: scale(1.2);
}

.services-link .h2-color {
  padding-top: 2rem;
}

.h2-color {
  color: var(--white);
  font-family: "Rubik", sans-serif;
  padding-top: 3rem;
  font-size: 2rem;
}

.servicesExploreMore {
  background-color: var(--white);
  padding: 1% 3%;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color-dark);
  font-size: 2rem;
  box-shadow: 0px 1px 10px 0px var(--text-color-dark);
  border-radius: 5px;
  transition: 0.5s;
}

.servicesExploreMore:hover {
  box-shadow: 0px 1px 10px 5px var(--text-color-dark);
  border-radius: 5px 15px 5px 15px;
}

/*	#	FOOTER	#	*/
.footer {
  padding: 4rem 0 0 0;
  background-color: var(--secondary-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.footer .content {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* gap: 1rem; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  text-align: center;
  color: var(--white);
}

.footer .content div {
  margin-bottom: 4rem;
}

.footer h6 {
  margin-bottom: 1em;
  font-size: 2.5rem;
  font-weight: 600;
}

.footer p {
  font-size: 1.5rem;
  margin-bottom: 1.5em;
  color:  var(--white);
}

.footer .button {
  background-color: var(--white);
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.8rem 1.2rem;
  border: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.arrow {
  border: solid var(--secondary-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.3rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.footer input {
  display: inline-block;
  vertical-align: middle;
  border: none;
  width: 70% !important;
  background: #f9f9ff;
  color: var(--secondary-color);
  border-radius: 0;
  font-size: 1.4rem;
  padding: 0.55em;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer .centre-box li {
  margin: 0 auto;
}

.footer ul li a {
  color: var(--white);
  text-decoration: none;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  width: 60%;
  margin: 0 auto;
}

.social-icon {
  height: 4rem;
  width: 4rem;
  color: var(--white);
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.3);
}

/*	#	END FOOTER	#	*/
