.header-aboutus {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../../images/hero-bg.jpg");
}

/* ###### teamS SECTION ###### */
.section-teams {
  /* padding: 9.6rem 0; */
  background: linear-gradient(
    to right bottom,
    var(--main-color-tint-2),
    var(--main-color-tint-1)
  );
  border-left: 2px solid var(--main-color-shade-2);
  border-right: 2px solid var(--main-color-shade-2);
  padding: 9.6rem 0;
}

.team {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  background-color: var(--white);
  overflow: hidden;
  transition: all 0.4s;
  padding-top: 2rem;
  border: 2px solid var(--main-color);
  min-width: 25rem;
  justify-self: center;
}

.team:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.team-img-container {
  margin: 0 auto;
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.team-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.5s all ease-in-out;
  background-size: cover;
}

.team-img:hover {
  transform: scale(1.1);
}

.team-img-1 {
  background-image: url("../../images/teams/member1.jpg");
}

.team-img-2 {
  background-image: url("../../images/teams/member2.jpg");
}

.team-img-3 {
  background-image: url("../../images/teams/member3.jpg");
}

.team-img-4 {
  background-image: url("../../images/teams/member4.jpg");
}

.team-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--main-color);
}

.team-img-box {
  width: 100%;
  height: 25rem;
  background-size: cover;
}

.team-description {
  padding: 3.2rem 1.8rem 3.2rem 1.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.team-name {
  font-size: 1.4rem;
  color: var(--black);
}

.team-title {
  font-size: 1.2rem;
  color: var(--grey-dark);
  font-weight: 600;
  /* margin-bottom: 3.2rem; */
}

.team-edu {
  font-size: 1rem;
}

.team-social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.social-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--black);
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.3);
}
/* ###### END OF teamS SECTION ###### */

/* #### Choose Us Section #### */
.section-choose-us {
  padding-top: 9.6rem;
  padding-bottom: 4rem;
  background: linear-gradient(
    205deg,
    var(--grey-dark) 40%,
    var(--main-color-tint-1) 40%
  );
  border-left: 2px solid var(--main-color-shade-2);
  border-right: 2px solid var(--main-color-shade-2);
}

.choose-us-container {
  text-align: center;
}

.choose-us-img {
  width: 100%;
  max-width: 40rem;
}

.choose-us-text {
  color: var(--grey-dark);
  font-size: 2rem;
}

.choose-us-text:not(:last-child) {
  margin-bottom: 1rem;
}

.choose-us-text span {
  color: var(--main-color);
}

.choose-us-header p {
  font-size: 1.2rem;
  margin-top: 2rem;
  line-height: 1.5;
}

.choose-us-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.single-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.single-content-icon i {
  font-size: 3rem;
  color: var(--main-color);
  transition: all 0.5s ease-in-out;
}

.single-content-icon i:hover {
  transform: scale(1.1);
}

.single-content-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.single-content-inner p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.single-content-inner-title {
  font-size: 1.6rem;
  color: var(--main-color-shade-2);
}

/* #### End of Choose Us Section #### */

/* #### Qualities section #### */

/* #### End of Qualities section #### */
.section-qualities {
  border-left: 2px solid var(--main-color-shade-2);
  border-right: 2px solid var(--main-color-shade-2);
  padding: 9.6rem 0;
}
.quality-card {
  perspective: 100rem;
  background-color: transparent;
  height: 25rem;
  width: 25rem;

  justify-self: center;
}
.quality-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  perspective: 100rem;
}

.quality-card:hover .quality-card-inner {
  transform: rotateY(180deg);
}

.quality-card-front,
.quality-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.quality-card-back {
  background-color: var(--main-color-shade-2);
  color: var(--white);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.quality-icon i {
  font-size: 4rem;
  padding: 5rem;
  margin: 3rem 0;
  background-color: var(--main-color-shade-2);
  border: 1px solid var(--main-color-shade-2);
  border-radius: 5px;
  color: var(--white);
}

.quality-description {
  padding: 0 2rem;
  line-height: 1.5;
  font-size: 1.4rem;
}
